In [2]:
import folium
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("../Data/Company_Addresses.csv")
df.head()

,Company,Full Address,Geocode
0,"Benton, John B Jr",6649 N Blue Gum St New Orleans LA 70116,"29.96536609999999, -90.0629989"
1,"Chanay, Jeffrey A Esq",4 B Blue Ridge Blvd Brighton MI 48116,"42.4688537, -83.7921157"
2,"Chemel, James L Cpa",8 W Cerritos Ave #54 Bridgeport NJ 8014,"39.8004233, -75.3478016"
3,Feltz Printing Service,639 Main St Anchorage AK 99501,"61.2189229, -149.8503728"
4,Printing Dimensions,34 Center St Hamilton OH 45011,"39.3990217, -84.5560461"